{{log customize.smartUpdate}}
<header>
  <h1>ember-jarvis</h1>

  <div class="parser_wrapper">

    <select>
      <option>Javascript</option>
      <option>Handlebars</option>
    </select>
    <span class="label-text">Parser:</span>

    <select>
      <option>recast</option>
      <option>babel</option>
    </select>
  </div>
  <div id="options">
    <SmartUpdateToggle/>
    <DarkModeToggle/>
  </div>
  <span class="label-text">{{parser}}: <strong>{{parserVersion}}</strong></span>
</header>
<main>
  {{outlet}}
  <SplitViewHorizontal>
    <SplitViewVertical>
      <div class="dummy-editor">
	{{ivy-codemirror 
	  value="foo.bar()"
	  options=(hash 
	  lineNumbers=true 
	  mode=mode 
	  theme=customize.theme)
	}}
      </div>
      <div class="dummy-editor">
        {{ivy-codemirror theme=theme value="foo.bar()"}}
      </div>
    </SplitViewVertical>
    <SplitViewVertical>
      <div class="dummy-editor">
        {{ivy-codemirror theme=theme value="foo.bar()"}}
      </div>
      <div class="dummy-editor">
        {{ivy-codemirror theme=theme value="foo.bar()"}}
      </div>
    </SplitViewVertical>
  </SplitViewHorizontal>
</main>
<footer>
  <p>
    Built with <a href="https://emberjs.com">Ember {{emberVersion}}</a> |
    <a href="https://github.com/rajasegar/ast-node-builder">ast-node-builder:  {{nodeBuilderVersion}}</a> |
    <a href="https://rajasegar.github.io/ast-finder">AST-Finder</a> |
    <a href="https://rajasegar.github.io/jarvis">JARVIS</a> |
    <a href="https://github.com/rajasegar/ast-builder">Github</a> |
    <a href="https://github.com/rajasegar/ast-builder/issues">Report issues</a> 
  </p>
</footer>